body {
  padding: 100px;
}

.container {
  padding: 0px 15px 0px 15px;
}

.panel {
  background-color: #1e1e1e;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 10px;
}

.panel .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
  color: lightgray;
  display: flex;
  border-bottom: solid;
  border-width: 1px;
  border-color: #000;
}

.panel .body {
  padding-top: 15px;
}

.panel .panel-bottom {
  display: flex;
  padding-bottom: 15px;
}

.button {
  background-color: #101010;
  color: lightgray;
  padding: 10px 20px;
  border: #000;
  border-radius: 0;
  border-width: 1;
  cursor: pointer;
}

#vehicles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.card {
  background-color: darkslategray;
  padding: 15px;
}

.card .bottom {
  display: flex;
  justify-content: center;
}